# Database Connection
SUPABASE_URL="your-supabase-project-url-here"
SUPABASE_API_KEY="your-supabase-anon-key-here"

# Authentication
JWT_SECRET=your-secret-key-here
GOOGLE_CLIENT_ID=your-google-client-id-here

# Stripe
STRIPE_SECRET_KEY=your-stripe-secret-key-here
PORT=3000
